{% extends 'base.html' %}

{% block title %} {{project.project_name}} {% endblock %}

{% block content %}

<div class="container">
    <div class="container">
        {% if project %}
            <div class="row">
                <h2 class="col-5">{{project.project_name}}</h2>
            </div>
            <br><br>
            <div class="row">
                <h5 class="col-5">Автор: &nbsp;&nbsp;&nbsp;<a href="{% url 'user_accounts:detail' project.creator.id %}"><small>    {{project.creator.first_name}} {{project.creator.last_name}}</small></a></h5>
            </div>
            <div class="row">
                <h5 class="col-5">Описание проекта:&nbsp;&nbsp;&nbsp; <small>{{project.project_description}}</small></h5>
            </div>
            <div class="row col-5">
                <h5>Используемые технологии: </h5>
                {% if technology_list %}
                    <ul>
                        {% for t in technology_list %}
                            <li>{{t.technology_name}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Не указана ни одна технология</p>
                {% endif %}
            </div>
            <div class="row col-5">
                <h5>Участники:</h5>
                <p>Свободно {{empty_places_count}} мест</p>
                {% if member_list %}
                    <ul>
                        {% for member in member_list %}
                            <li><a href="{% url 'user_accounts:detail' member.id %}">{{member.first_name}} {{member.last_name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>К этому проекту еще ни кто не присоединился. Вы можете стать первым!</p>
                {% endif %}
            </div>
            <div class="row col-5">
                <p>Дата публикации - {{project.pub_date}}</p>
            </div>
        {% endif %}

        {% if not project.is_done %}
            {% if user.useraccount.user_current_project == None and project.creator.id != user.id  and empty_places_count != 0 %}
            <br><br>
                <form method="post">
                    {% csrf_token %}
                    <input hidden type="text" value="false" name="done">
                    <input type="submit" class="btn btn-primary" style="border-radius: 50px;" value="Подать заявку на участие">
                </form> 
            {% endif %}
            <br>
            {% if user == project.creator%}
            <div class="row">
                <a class="col-2" href="{% url 'projects:configurate' project.id%}"><button class="btn btn-outline-primary" style="border-radius: 50px">Редактировать</button></a>
                <a class="col-3" href="{% url 'projects:manage_members' project.id%}"><button class="btn btn-outline-primary" style="   border-radius: 50px">Управление участниками</button></a>

                <form method="post" class="col-3">
                    {% csrf_token %}
                    <input hidden type="text" name="done" value="true">
                    <input type="submit" value="Завершить проект" class="btn btn-outline-danger" style="border-radius: 50px">
                </form>
            </div>
            {% endif %}
        {% else %}
            <h3>Проект завершен!</h3>
        {% endif %}
    {% endblock %}
    </div>
</div>