{% extends 'base.html' %}

{% block title %} {{project.project_name}} {% endblock %}

{% block content %}

    {% if project %}
        <h1>{{project.project_name}}</h1>
        <h3>Создатель:</h3>
        <a href="{% url 'user_accounts:detail' project.creator.id %}">
            {{project.creator.first_name}} {{project.creator.last_name}}
        </a>
        <p>{{project.project_description}}</p>
        <h3>Технологии: </h3>
        {% if technology_list %}
            <ul>
                {% for t in technology_list %}
                    <li>{{t.technology_name}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Не указана ни одна технология</p>
        {% endif %}
        <h3>Участники:</h3>
        {% if member_list %}
            <ul>
                {% for member in member_list %}
                    <li>
                        <a href="{% url 'user_accounts:detail' member.id %}">
                        {{member.first_name}} {{member.last_name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>К этому проекту еще ни кто не присоединился. Вы можете стать первым!</p>
        {% endif %}
        <p>Дата публикации - {{project.pub_date}}</p>
    {% endif %}

{% endblock %}