{% extends 'base.html' %}

{% block title %} {{project.project_name}} {% endblock %}

{% block content %}

<div class="container">

        {% if project %}
             <div align="center">
                <h2>{{project.project_name}}</h2>
            </div>

            {% if not project.is_done %}
            {% if user.useraccount.user_current_project == None and project.creator.id != user.id  and empty_places_count != 0 %}
            <br><br>
        <div align="center">
                <form method="post">
                    {% csrf_token %}
                    <input hidden type="text" value="false" name="done">
                    <input type="submit" class="btn btn-primary" style="border-radius: 50px;" value="Подать заявку на участие">
                </form>
        </div>
            {% endif %}
            <br>
            {% if user == project.creator%}
            <div class="row" align="center">
                <a class="col-4 justify-content-end" href="{% url 'projects:configurate' project.id%}"><button class="btn btn-outline-primary" style="border-radius: 50px">Редактировать</button></a>
                <a class="col-4" href="{% url 'projects:manage_members' project.id%}"><button class="btn btn-outline-primary" style="   border-radius: 50px">Управление участниками</button></a>

                <form method="post" class="col-4">
                    {% csrf_token %}
                    <input hidden type="text" name="done" value="true">
                    <input type="submit" value="Завершить проект" class="btn btn-outline-danger" style="border-radius: 50px">
                </form>
            </div>
            {% endif %}
        {% else %}
            <h3 align="center">Проект завершен!</h3>
        {% endif %}
    <div class="row">
        <div class="col-6">
                    <br><br>
                    <div>
                        <h5>Автор: &nbsp;&nbsp;&nbsp;<a href="{% url 'user_accounts:detail' project.creator.id %}" style="text-decoration: none"><small>
                            {{project.creator.first_name}} {{project.creator.last_name}}</small></a></h5>
                    </div>
                    <div>
                        <h5>Описание проекта:&nbsp;&nbsp;&nbsp; <small>{{project.project_description}}</small></h5>
                    </div>
        </div>
    <div class="col-6">
        <br><br>
            <div>
                <h5>Используемые технологии: </h5>
                {% if technology_list %}
                    <ul>
                        {% for t in technology_list %}
                            <li>{{t.technology_name}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Не указана ни одна технология</p>
                {% endif %}
            </div>
            <div>
                <h5>Участники: &nbsp;&nbsp;&nbsp;</h5>
                <h7>Свободных мест: {{empty_places_count}} из {{ project.members_count }}</h7>
                {% if member_list %}
                    <ul>
                        {% for member in member_list %}
                            <li><a href="{% url 'user_accounts:detail' member.id %}" style="text-decoration: none">{{member.first_name}} {{member.last_name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <br>
                    <h7>К этому проекту еще ни кто не присоединился. Вы можете стать первым!</h7>
                {% endif %}
            </div>
            <div>
                <h7>Дата публикации - {{project.pub_date}}</h7>
            </div>
        <br><br>
        {% endif %}
    {% endblock %}
    </div>
    </div>
</div>