{% extends 'base.html' %}

{% block title %}Последние объявления{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="get" class="form-inline col-9">
            <div class="form-group mx-sm-3 mb-2">
                <label for="search_name" class="sr-only">Название проекта </label>
                <input id="search_name" type="search" name="name" value="{{selected_name}}" class="form-control" placeholder="Название проекта">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="search_tech"></label>
                <select id="search_tech" class="form-control" name="tech">
                    <option value="">Выберите технологию</option>
                        {% if technology_list %}
                            {% for tech in technology_list %}
                                <option {% if selected_tech == tech.technology_name %}selected{% endif %} value="{{tech.technology_name}}">{{tech.technology_name}}</option>
                            {% endfor %}
                        {% endif %}
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="search_done"></label>
                <select id="search_done" name="done" class="form-control">
                    <option {% if selected_done == '' %}selected{% endif %} value="">Выберите статус</option>
                    <option {% if selected_done == 'true' %}selected{% endif %} value="true">Завершен</option>
                    <option {% if selected_done == 'false' %}selected{% endif %} value="false">В работе</option>
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="submit" value="OK" class="btn btn-outline-secondary">
            </div>
        </form>

        <form method="get">
            <input hidden type="text" name="name" value="">
            <input hidden type="text" name="tech" value="">
            <input hidden type="text" name="done" value="">
            <div class="form-group mx-sm-3 mb-2">
                <input type="submit" value="Сбросить" class="btn btn-outline-secondary">
            </div>
        </form>

        <div class="col-3 justify-content-end">
            <a href="{% url 'projects:add_new' %}"><button class="btn btn-primary" style="border-radius: 50px; float: right;">Создать проект</button></a>
        </div>
    </div>

    <br>

    {% if projects_list %}
        {% for project in projects_list %}
            <div class="container" style="">
                <a href="{% url 'projects:detail' project.id %}" style="text-decoration: none"><button class="btn btn-outline-primary btn-block" style=" font-size: 200%; border-radius: 25px; ">
                    <h3>{{ project.project_name }}</h3>
                    <br>
                        <h5> {{ project.project_description | truncatechars:200 }}</h5>
                        <h5> <small>Дата публикации: {{project.pub_date}}</small></h5>
                </button></a>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Проекты не найдены</p>
    {% endif %}
</div>
{% endblock %}