{% extends 'base.html' %}

{% block title %}Последние объявления{% endblock %}

{% block content %}
<div class="container">
    <div>
        <form method="get" class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="search_name" class="sr-only">Название проекта </label>
                <input id="search_name" type="search" name="name" value="" class="form-control" placeholder="Название проекта">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="search_tech"></label>
                <select id="search_tech" class="form-control" name="tech">
                    <option value="">Выберите технологию</option>
                    {% if technology_list %}
                    {% for tech in technology_list %}
                        <option value="{{tech.technology_name}}">{{tech.technology_name}}</option>
                    {% endfor %}
                {% endif %}
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
               <label for="search_done"></label>
                <select id="search_done" name="done" class="form-control">
                    <option value="">Выберите статус</option>
                    <option value="true">Завершен</option>
                    <option value="false">В работе</option>
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <input type="submit" value="OK" class="btn btn-outline-secondary">
            </div>
        </form>
    </div>

        <a href="{% url 'projects:add_new' %}"><button class="btn btn-primary" style="border-radius: 50px; float: right;">Создать проект</button></a>

    <br><br>

    {% if projects_list %}
        {% for project in projects_list %}
            <div class="container" style="">
                <a href="{% url 'projects:detail' project.id %}" style="text-decoration: none"><button class="btn btn-outline-primary btn-block" style=" font-size: 200%; border-radius: 25px; ">
                    <h3>{{ project.project_name }}</h3>
                    <br>
                        <h5> Роль: *************</h5>
                        <h5> Необходимые навыки: *****, ******, ****** </h5>
                        <h5> <small>Дата публикации: {{project.pub_date}}</small></h5>
                </button></a>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Проекты не найдены</p>
    {% endif %}


</div>
{% endblock %}