{% extends 'base.html' %}

{% block title %}Последние объявления{% endblock %}

{% block content %}

    <a href="{% url 'projects:add_new' %}">Создать объявление</a>

    <h1>Последние проекты:</h1>

    {% if projects_list %}
        <ul>
        {% for project in projects_list %}
            <li> <a href = "{% url 'projects:detail' project.id %}"> {{ project.project_name }} ({{project.pub_date}}) </a> </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Проекты не найдены</p>
    {% endif %}

{% endblock %}