{% extends "base.html" %}
{% block title%} Отзывы {% endblock %}
{% block content %}

<h1>Отзывы</h1>

{% if comments_list %}

	<ul>
		{% for comment in comments_list %}
		<li>
			<h3><a href="{% url 'user_accounts:detail' comment.sender.id%}">{{comment.sender.first_name}} {{comment.sender.last_name}}</a></h3>
			<p>{{comment.text}}</p>
		</li>
		{% endfor %}
	</ul>
{% else %}
	<p>Об этом пользователе еще ни кто не оставил отзыв. Если вам есть что рассказать о нем, вы можете стать первым!</p>
{% endif %}

{% endblock %}