{% extends "base.html" %}
{% block title%} Отзывы {% endblock %}
{% block content %}
<div class="container">
	<h2>Отзывы</h2>
	{% if comments_list %}
			{% for comment in comments_list %}
		<div class="container" style="border: 2px solid rgba(57, 127, 231, 0.3); background-color: white; border-radius: 15px">
			<div align="left">
				<a href="{% url 'user_accounts:detail' comment.sender.id%}" style="text-decoration: none">
					{{comment.sender.first_name}} {{comment.sender.last_name}}</a>
				<br>
				<h7>Оценка: {{ comment.mark }}</h7>
			</div>
			<div style="color: grey">
			<h7>{{comment.text}}</h7>
			</div>
		</div>
	<br>
			{% endfor %}




	{% else %}
		{% if current_user != user%}
		<h5>Об этом пользователе еще никто не оставил отзыв. Если вам есть что рассказать о нем, вы можете стать первым!</h5>
		{% else %}
		<h5>Никто еще не оставил отзыв о работе с вами</h5>
		{% endif %}
	{% endif %}
</div>
{% endblock %}