{% extends "base.html" %}

{% block title %} Редактировать профиль {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <h2> Редактирование профиля </h2>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br><br>
        <input type="submit" class="btn btn-primary" style="border-radius: 50px;" value="Сохранить">
        <br><br><br><br><br><br>
    </form>
</div>
{% endif %}

{% endblock %}