{% extends 'base.html' %}

{% block title %} Коллеги {% endblock %}

{% block content %}
<div class="container">
    <h2>Пользователи</h2>
    <br>
    <form method="get" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input id="search_name" type="text" name="name" value="{{sorted_name}}" class="form-control" placeholder="Поиск">
        </div>
        <button type="submit" class="btn btn-outline-secondary mb-2">Найти</button>
    </form>

    {% if user_list %}
        {% for current_user in user_list %}
             <a href = "{% url 'user_accounts:detail' current_user.id %}" style="text-decoration: none">
                {{ current_user.first_name }}  {{ current_user.last_name }} ({{ current_user.username }})</a>
            <br>
        {% endfor %}
    {% else %}
    <h7>Пользователи не найдены</h7>
    {% endif %}
</div>
{% endblock %}