<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Teamder{% endblock %}</title>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</head>

<!-- 100 =) -->

<body>

    {% block header%}

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container" style="border: 2px solid #3A7FE7; background-color: white; border-radius: 15px">
            <div class="navbar-header">
                <a href="http://127.0.0.1:8000/" class="navbar-brand"> <h2>Teamder</h2> </a>
            </div>

            <div>
                <ul class="nav navbar-nav mr-auto">
                     {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li class="active"><a href="/admin"><button class="btn btn-default">Админка</button></a></li>
                        {% endif %}
                        <li class="active"><a href="{% url 'projects:index' %}"><button class="btn btn-default" style="border-radius: 50px">Проекты</button></a></li>
                        <li class="active"><a href="{% url 'user_accounts:index' %}"><button class="btn btn-default" style="border-radius: 50px">Коллеги</button></a></li>
                        <!--<li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'user_accounts:detail' user.id %}">Мой профиль</a>
                                    <a class="dropdown-item" href="{% url 'user_accounts:notifications' %}">Уведомления</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Выйти</a>
                                </div>
                        </li>-->
                        <li class="active"><a href="{% url 'user_accounts:notifications' %}"><button class="btn btn-default" style="border-radius: 50px">Уведомления</button></a></li>
                        <li class="active"><a href="{% url 'user_accounts:detail' user.id %}"><button class="btn btn-default" style="border-radius: 50px">{{ user.get_username }}</button></a></li>
                        <li class="active"><a href="{% url 'logout' %}?next={{request.path}}"><button class="btn btn-outline-secondary" style="border-radius: 50px">Выйти</button></a></li>
                     {% else %}
                    <li class="active"><a href="{%  url 'user_accounts:register' %}"><button class="btn btn-primary" style="border-radius: 50px">Зарегистрироваться</button></a></li>
                    <li class="active"><a href="{% url 'login' %}?next={{request.path}}"><button class="btn btn-outline-secondary" style="border-radius: 50px">Войти</button></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% endblock %}

    <br><br><br><br><br>

    {% block content %}
<div class="container">
    {% if user.is_authenticated %}
        {% if user.useraccount.user_current_project != None %}
        <h2>Ваш текущий проект: <small><a href="{% url 'projects:detail' current_project.id %}" style="text-decoration: none">{{current_project.project_name}}</a></small></h2>
    <br>
            <h5>Ваши напарники: </h5>
                <ul style="list-style-type: none;">
                    {% if current_project.creator != user %}
                    <li><a href="{% url 'user_accounts:detail' current_project.creator.id%}" style="text-decoration: none">
                        {{current_project.creator.first_name}} {{current_project.creator.last_name}}
                    </a></li>
                    {% endif %}
                    {%if members %}
                    {% for member in members %}
                    <li><a href="{% url 'user_accounts:detail' member.id %}" style="text-decoration: none">
                        {{member.first_name}} {{member.last_name}}
                    </a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
        {% else %}
        <h2>У вас сейчас нет активных проектов, пора найти новый!</h2>
        {% endif %}

    {% else %}

      <div class="row">
        <div class="col-lg-5">
          <h1 align="left">Лучшее решение для поиска команды</h1>
            <br>
          <h6 style="color: gray" align="left">Сегодня поиск команды очень сложный и трудоёмкий процесс. Мы поможем тебе!</h6>
            <br><br><br><br><br>
            <h2 align="center"><a href="{% url 'projects:index' %}"><button class="btn btn-primary" style="border-radius: 50px;">Поиск проекта</button></a></h2>
          </div>
        <div class="col-lg-7">
            {% load static %}
          <img src="{% static 'main.png' %}" class="img-fluid animated" alt="MAIN">
        </div>
      </div>
    </div>
    {% endif %}

    {% endblock %}
</body>
</html>