{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div>
  {% if form.errors %}
    <h5>Логин или пароль введены неверно</h5>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <h5>Вы не можете просмотреть эту страницу.
        Чтобы продолжить, вам необходимо авторизоваться.</h5>
    {% else %}
      <h5>Авторизуйтесь, чтобы увидеть эту страницу</h5>
    {% endif %}
  {% endif %}
<br>
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
      <div class="form-group">
        {% render_field form.username class+="form-control" placeholder="Логин" %}
      </div>
    <br>
      <div class="form-group">
        {% render_field form.password class+="form-control" placeholder="Пароль" %}
      </div>
    <br>
      <input type="submit" value="Войти" class="btn btn-primary" style="border-radius: 50px"/>
      <input type="hidden" name="next" value="/" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <h5><a href="{% url 'password_reset' %}" style="text-decoration: none"><small>Забыли логин или пароль?</small></a></h5>
  </div>
</div>
{% endblock %}