{% extends "base.html" %}

{% block login %}{% endblock %}

{% block tile %} Reset password {% endblock %}

{% block content %}
{% load widget_tweaks%}
<div class="container">
    <h2>Сброс пароля</h2>
    <br>
    <div class="row">
        <form action="" method="post" class="col-6">
            {% csrf_token %}
            {% if form.email.errors %} {% render_field form.email.errors class+="form-control" placeholder="Email" %} {% endif %}
                {% render_field form.email class+="form-control" placeholder="Email" %}
            <br>
            <input type="submit" class="btn btn-outline-secondary" style="border-radius: 50px" value="Продолжить" />
        </form>
    </div>
</div>
{% endblock %}