{% extends "base.html" %}

{% block content %} password reset {% endblock %}

{% block login %}{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
    {% if validlink %}
        <h2>Сброс пароля</h2>
        <br>
        <form action="" method="post">
            {% csrf_token %}
                <div class="form-group">
                    {% render_field form.new_password1 placeholder="Новый пароль" class="form-control" %}
                </div>

                <div class="form-group">
                    {% render_field form.new_password2 placeholder="Повторите пароль" class="form-control" %}
                </div>
            <input type="submit" value="Сменить пароль" class="btn btn-primary" style="border-radius: 50px"/>
        </form>
        <!--<form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>-->
    {% else %}
        <h2>Ошибка сброса пароля!</h2>
    <br>
        <h5>Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите новый пароль для сброса.</h5>
    {% endif %}
</div>
{% endblock %}